
.position {
    &-center {
        position: fixed;
        z-index: 999;
        height: 8em;
        width: 8em;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
